.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    @include font (12px,
        1.33,
        600,
        0.09em);
    text-transform: uppercase;
    border: 1px solid var(--brand-clor);
    border-radius: 25px;
    background-color: transparent;
    transition: color 200ms linear, background-color 200ms linear;

    &:hover,
    &:focus {
        color: var(--background-color);
        background-color: var(--brand-clor);
    }
}