.hero {}

.hero-container {
    display: flex;
}

.hero-soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 27px;
}

.hero-list {
    @extend %list;
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: var(--main-text-color);
    }

}

.hero-wrap {
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 272px 100px 208px 100px;
}

.hero-link {
    @include font (11px, 1.36, 600, 0.2em);
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color var(--trn);

    &:hover,
    &:focus {
        color: var(--brand-clor);
    }
}

.hero-title {
    @include font (72px, 1.18);
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.hero-after-title {
    color: #9da4bd;
    max-width: 360px;
}