:root {
  --background-color: #ffffff;
  --brand-clor: #ff6c00;
  --main-text-color: #303030;
  --second-text-color: #555555;
  --white-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: var(--background-color);
  font-family: "open sans", sans-serif;
  color: var(--main-text-color);
  line-height: 1.33;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0px, 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--brand-clor);
  border-radius: 25px;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------HEADER---------------- */

.header {
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--brand-clor);
}

.site-body {
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 131px;
}

.header-logo-icon {
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
}

.header-link {
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--white-text-color);
  margin-left: 43px;
}

/* ------HERO------ */

.hero {
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-wrap {
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 272px 100px 208px 100px;
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--brand-clor);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-after-title {
  color: #9da4bd;
}

/* ------ABOUT------ */

.about {
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
}

.about-wrap {
  max-width: 470px;
}

.about-pre-title {
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-after-title {
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 42px;
}

.about-btn {
  color: var(--main-text-color);
}

/* --------PRICES------- */

.prices {
  background-color: #111319;
  background-image: url(../images/img.svg);
  background-size: 1600px, cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.prices-pre-titile {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--white-text-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-item {
  display: flex;
  justify-content: space-between;
}
.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--white-text-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

/* -------BENEFITS-------- */

.benefits {
}

.benefits-container {
  display: flex;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 6px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color);
}

.benefits-wrap {
}

.benefits-pre-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.benefits-after-title {
  color: var(--second-text-color);
}

/* -----BARBERS----- */

.barbers {
  background-color: #f7f7f7;
}

.barbers-pre-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--main-text-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60) / 3);
}

.barbers-wrap {
  padding-top: 30px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-clor);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barber-soc-item {
  width: 44px;
  height: 44px;
}

.barber-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-text-color);
}

/* .barber-soc-icon {
  fill: currentColor;
} */

.barber-soc-link:hover,
.barber-soc-link:focus {
  background-color: var(--background-color);
}

.barber-soc-link:hover .barber-soc-icon,
.barber-soc-link:focus .barber-soc-icon {
  fill: var(--brand-clor);
}
/* -----GALLERY----- */

.gallery {
}

.gallery-pre-title {
  color: var(--main-text-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90) / 4);
}

/* ------ONLINE----- */
.online-container {
  display: flex;
}

.online {
  background-color: #191c26;
  width: 50%;
  padding-top: 130px;
}
.online-title {
  color: var(--white-text-color);
}

/* -----CONTACRS----- */

.contacts {
  width: 50%;
  padding-top: 130px;
  padding-left: 100px;
  padding-bottom: 120px;
  background-color: #191c26;
  background-image: url(../images/Bg.svg);
}

.contacts-title {
  color: var(--white-text-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  display: inline-block;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
}
