:root {
  --background-color: #ffffff;
  --brand-clor: #ff6c00;
  --main-text-color: #303030;
  --second-text-color: #555555;
  --white-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: var(--background-color);
  font-family: "open sans", sans-serif;
  color: var(--main-text-color);
  line-height: 1.33;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0px, 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--brand-clor);
}

.site-body {
}

.header {
  padding-bottom: 32px;
}

.header-navigation {
}

.header-logo {
}

.header-logo-icon {
}

.header-list {
}

.header-item {
}

.header-link {
}

.header-btn {
  color: var(--white-text-color);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--brand-clor);
}

/* ------HERO------ */

.hero {
}

.hero-list {
}

.list {
}

.hero-item {
}

.hero-link {
}

.link {
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}

.hero-after-title {
  color: #9da4bd;
}

/* ------ABOUT------ */

.about {
}

.about-list {
}

.list {
}

.about-item {
}

.about-pre-title {
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-after-title {
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 42px;
}

.about-btn {
  color: var(--main-text-color);
}

/* --------PRICES------- */

.prices {
}

.prices-pre-titile {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--white-text-color);
  margin-bottom: 44px;
}

.prices-list {
  padding: 30px 20px;
  margin-bottom: 44px;
}

.prices-item {
}

.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--white-text-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

/* -------BENEFITS-------- */

.benefits {
}

.benefits-list {
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 6px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color);
}

.benefits-pre-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.benefits-after-title {
  color: var(--second-text-color);
}

/* -----BARBERS----- */

.barbers {
}

.barbers-pre-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--main-text-color);
  margin-bottom: 44px;
}

.barbers-list {
}

.barbers-item {
}

.barbers-wrap {
  padding-top: 30px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-clor);
}

/* -----GALLERY----- */

.gallery {
}

.gallery-pre-title {
  color: var(--main-text-color);
  margin-bottom: 44px;
}

.gallery-list {
}

.gallery-item {
}

/* ------ONLINE----- */

.online-title {
  color: var(--white-text-color);
}

/* -----CONTACRS----- */

.contacts {
}

.contacts-title {
  color: var(--white-text-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  display: inline-block;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
}
